.photoDiv {
  display: flex;
  gap: 50px;
}

.img {
  width: 180px;
}

.photoDiv ul {
  color: red;
}

.ulDiv input {
  margin-top: 15px;
}
.nextBtn,
.btnDiv button {
  padding: 10px;
  color: white;
  border-radius: 7px;
}

.nextBtn {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--secondary-purple);
}

.nextBtn:hover {
  background-color: var(--secondary-purple-hover);
}

.nextBtn:active {
  background-color: var(--secondary-purple-active);
}

.btnDiv {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.btnDiv > * {
  flex-basis: 100%;
}
.btnDiv button {
  font-size: 1.1rem;
  background-color: var(--secondary-blue);
}
.btnDiv button:nth-child(2) {
  background-color: green;
}
