.photoDiv {
  display: flex;
  gap: 50px;
}

.img {
  width: 180px;
}

.photoDiv ul {
  color: red;
}

.ulDiv input {
  margin-top: 15px;
}
.nextBtn {
  background-color: var(--secondary-purple);
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.nextBtn:hover {
  background-color: var(--secondary-purple-hover);
}

.nextBtn:active {
  background-color: var(--secondary-purple-active);
}
