.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 200px;
  /* height: 100px; */
}
.p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 25px;
}

.btnWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.link {
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.link:hover {
  color: blue;
}

.btnNew {
  font-size: 1.13rem;
  background-color: var(--secondary-purple);
  border-radius: 5px;
  padding: 8px 18px;
  color: white;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btnNew:hover {
  background-color: var(--secondary-purple-hover);
}

.btnNew:active {
  transform: translateY(2px);
  background-color: var(--secondary-purple-active);
}
