:root {
  --primary-blue: #1a73e8;
  --input-color: #80868b;
  --border-color: #8f9399;
  --form-border: ##cedcf1;
  --body-background: #ececec;
  --gray-1: #808999;
  --secondary-purple: #7a59fb;
  --secondary-purple-hover: #694ed5;
  --secondary-purple-active: #5439c0;
  --secondary-blue: #2f4fc1;
  --light-background: #d9f2fd;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-background);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,
select,
textarea {
  -webkit-appearance: none;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

footer {
  margin: auto auto 0;
  border-top: 1.5px solid rgb(159, 159, 159);
  text-align: center;
  word-spacing: 2px;
  padding: 15px 10px;
  color: #80868b;
  width: 60%;
  min-width: 300px;
  height: 50.7px;
}
footer a {
  font-weight: 500;
  color: rgb(202, 105, 9);
}

nav {
  background-color: #ffffff;
  z-index: 99;
  /* box-shadow: 0 3px 20px rgb(0 0 0 / 13%); */
  position: sticky;
  top: 0;
  border-bottom: 1px solid grey;
  height: 68.5px;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin-inline: auto;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.offline {
  margin-top: 40vh;
  padding: 0 5vw;
  font-size: 1.2rem;
  text-align: center;
}

/* Layout */
.formFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.formFlex > * {
  flex: 1 1 auto;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: flex-end;
}
.subSection h4 {
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
  color: rgb(71, 71, 71);
  text-decoration: underline;
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label:focus-within {
  color: red;
}

/* Mobile version */
.mobile {
  min-height: 100vh;
  place-items: center;
  padding: 0 5vw;
  font-size: 1.4rem;
  display: none;
  text-align: center;
}

/* For Print */
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media screen and (max-width: 1000px) {
  main {
    display: none;
  }
  .mobile {
    display: grid;
  }
}
