.adminContent {
  /* grid-column: span 3; */
  height: 100%;
  overflow: auto;
  margin-left: 13px;
}

.adminContent::-webkit-scrollbar {
  width: 0;
  height: 16px;
}

.adminContent::-webkit-scrollbar-track {
  background-color: rgb(210, 210, 210);
  border-radius: 50vw;
}

.adminContent::-webkit-scrollbar-thumb {
  background-color: rgb(152, 152, 152);
  border-radius: 50vw;
}

.content {
  min-height: 200vh;
}

.checkboxesWrapper {
  display: flex;
  gap: 9px 16px;
  flex-wrap: wrap;
  margin: 7px 0 15px;
}

.adminContent h3 {
  color: grey;
}

.noDataTable {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #ba0505;
}
